.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Rplots.pdf
data/sim-hoc-data.csv
data/sim-hoc-data.rds
loo/loo-het-students-t-regression.rds
loo/loo-hoc-regression.rds
loo/loo-normal-regression.rds
loo/looic.png
ppd/ppd-hoc-regression.png
ppd/ppd-normal-het-students-t.png
ppd/ppd-normal-regression.png
stan/het-students-t-regression.rds
stan/hoc-regression.rds
stan/normal-regression.rds
stanfit/stanfit-het-students-t-regression.rds
stanfit/stanfit-hoc-regression.rds
stanfit/stanfit-normal-regression.rds
